---
const props = Astro.props
---

<div class={`mt-12 mx-12 mb-12 md:mt-24 md:mx-24 lg:mb-0 lg:mt-52 lg:ml-52 lg:mr-0 ${props.class}`}>
    <h2 class="font-bold text-4xl md:text-6xl lg:text-8xl text-left">My projects</h2>
    <p class="mt-10 text-3xl">
        I've built things ranging from NPM packages, websites, apps, APIs and more.
        <b>Here are a few of my favourite projects & my NPM packages</b>.
    </p>
</div>