---
import Layout from "../layouts/Layout.astro";

---

<Layout title="egg" description={``}>
    <img class="mx-auto" src="/dagothur_by_wolfdragon666on_on_reddit.png" />
    <div class="container mx-auto px-10 pt-10">
        <div class="text-xl">
            <!--<p class="font-bold text-2xl">"What game do you prefer?"</p>-->
            <p id="speechBubble">My second question is: how have you discovered me? Was it through a showcase, a blog post that interested you or do you already use one of my creations?</p>
        </div>

        <div id="speechOptions" class="mt-10 flex flex-row mx-auto gap-6 text-2xl justify-center">
            <button class="p-5 bg-black text-beige rounded-xl font-bold">Through a showcase</button>
            <button class="p-5 bg-black text-beige rounded-xl font-bold" onclick="playSound()">From a blog post</button>
            <button class="p-5 bg-black text-beige rounded-xl font-bold">Through one of your projects</button>
        </div>
    </div>
</Layout>

<script is:inline>

    document.addEventListener("click", (e) => {
        console.log(e)
    })
    const playSound = (url) => {
        new Audio("/dagoth/questions/second/answers/blog.mp3")

        document.getElementById("speechBubble").innerHTML = "I see. Thank you for reading my blog and being invested enough to go to my website. I hope that you can enjoy what I've made, whether that be one of my websites, APIs, packages or blog posts."
    }
</script>