---
import Icon from "./Icon.astro";
import SocialButton from "./SocialButton.astro";
import { faDiscord, faGithub, faMastodon, faTwitter } from "@fortawesome/free-brands-svg-icons"

---

<div class={"container justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full my-auto"}>
    <div class={"lg:ml-20 justify-center md:justify-start max-w-xl mt-0 md:my-36"}>
        <h1 class={"font-bold text-7xl lg:text-9xl text-center md:text-left"}>Exerra</h1>
        
        <br/>

        <p class={"font-bold text-2xl lg:text-3xl text-center md:text-left text-black/60"}>Full-stack developer from Latvia</p>
        
        <br/>


        <div class="bg-theme text-gray-400 font-bold text-center items-center md:text-left fill-blue-400 space-x-5">
            <SocialButton href={"https://twitter.com/Exerra"} label={"Link to twitter"}>
                <Icon icon={faTwitter} class="w-10 h-10 inline-flex" />
            </SocialButton>

            <SocialButton href={"https://github.com/Exerra"} label={"Link to github"}>
                <Icon icon={faGithub} class="w-10 h-10 inline-flex" />
            </SocialButton>

            <SocialButton href={"https://guild.exerra.xyz"} label={"Link to my discord server"}>
                <Icon icon={faDiscord} class="w-12 h-10 inline-flex" />
            </SocialButton>

            <SocialButton href={"https://mastodon.world/@exerra"} label={"Link to mastodon"} rel={"me"}>
                <Icon icon={faMastodon} class="w-10 h-10 inline-flex" />
            </SocialButton>
        </div>
    </div>
</div>

<style is:global>
    h1::first-letter {
        margin-left: -0.075em;
    }

    h2::first-letter {
        margin-left: -0.075em;
    }
</style>