<nav class={"py-6 px-3 2xl:px-36 3xl:px-0"}>
    <div class={"container flex justify-between items-center mx-auto px-8 md:px-0 w-full"}>
        <div class={"text-lg font-bold"}>Exerra</div>
        <div class={"hidden md:flex space-x-12 items-center"} id={"navbar"}>
            <a href={"#"} class={"transition text-grey-card font-bold"}>Home</a>
            <a href={"https://blog.exerra.xyz"} class={"transition text-grey-card/60 hover:text-grey-card"}>Blog</a>
        </div>
        <div class="md:hidden" onclick={"navBarFunc()"}>
            <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13 17.5H0.25V14.6667H13V17.5ZM25.75 10.4167H0.25V7.58333H25.75V10.4167ZM25.75 3.33333H13V0.5H25.75V3.33333Z"
                    fill="black"/>
            </svg>
        </div>
    </div>
</nav>

<script is:inline>
    const navBarFunc = () => {
        let classList = document.getElementById("navbar")?.classList

        if (classList?.contains("hidden")) classList?.remove("hidden")
        else classList?.add("hidden")
    }
</script>