---
import Title from "./Title.astro";

    const { name, subtitle } = Astro.props
---

<div class={"mt-32 justify-between mx-auto w-full px-8 2xl:px-36 d-section"}>
    <Title hasSubheading={subtitle != undefined ? true : false}>{name}</Title>
    {subtitle != undefined ? <h2 class="text-3xl text-gray-600">{subtitle}</h2> : <></>}
    <slot />
</div>