---
const { href, label, icon } = Astro.props
---

<a href={href} aria-label={label} target={"_blank"} class={"transition ease-in-out fill-black/60 hover:fill-black text-black/60 hover:text-black"}>
    <slot />
</a>