---

import { SEO } from "astro-seo"
import Cursor from "../components/Cursor.astro";

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="me" href="https://indieweb.social/@exerra" />
		<link rel="me" href="https://daedric.world/@exerra" />

		<SEO 
			title={title}
			description={description}
			twitter={{
				creator: "@Exerra"
			}}
			openGraph={{
				basic: {
					title: title,
					image: "https://s.gravatar.com/avatar/6a80069ec71ef1ea1a488cc3183e66cb?s=1024",
					type: "profile",
				},
				optional: {
					description: description,
				},
				image: {
					alt: "Exerra's profile picture"
				}
			}}
			extend={{
				link: [{ rel: "icon", href: "https://cdn.exerra.xyz/png/pfp.png" }],
				meta: [
					{ name: "theme-color", content: "#F2EDE3" }
				]
			}}
		/>
		
	</head>
	<body id="body" class={"bg-beige"} style={{ background: "#F2EDE3" }}>
		<Cursor />
		<main><slot /></main>
		<footer class={"p-10 gap-3 text-center flex flex-col"}>
			<p class="font-bold">&copy; Savičs</p>

			<a target="_blank" href="https://uptime.betterstack.com"><img style="width: 130px; height: 52px;" alt="Better Stack Website Monitoring" src="https://uptime.betterstack.com/assets/static_assets/badges/light.png" class="mx-auto" /></a>
		</footer>
	</body>
</html>

<style is:inline>
	@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

	html {
		font-family: "Inria Sans", sans-serif;
	}
</style>

<!-- Cal floating-popup embed code begins -->
<script type="text/javascript">
	(function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
  Cal("init", "project-idea", {origin:"https://cal.com"});
  
	Cal.ns["project-idea"]("floatingButton", {"calLink":"exerra/project-idea","config":{"layout":"month_view","theme":"light"},"buttonColor":"#000","buttonTextColor":"#F2EDE3","buttonText":"Have a project idea?","hideButtonIcon":false,"buttonPosition":"bottom-left"}); 
	Cal.ns["project-idea"]("ui", {"theme":"light","cssVarsPerTheme":{"light":{"cal-brand":"#494949"}},"hideEventTypeDetails":false,"layout":"month_view"});
</script>
<!-- Cal floating-popup embed code ends -->